#principal {
    width: 90%;
    max-width: 600px;
    margin: 50px auto; /* Centra horizontalmente todo el div */
    padding: 20px;
    text-align: center; /* Centra el contenido del texto */
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }